<ion-view title="Speaker">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img ng-src="{{serverPath}}/pics/{{speaker.pic}}">
                <h2>{{speaker.name}}</h2>
                <p>{{speaker.title}}</p>
            </div>
            <div class="item item-body">
                <p>{{speaker.bio}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" ng-click="share()">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>